name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint-test-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: go.mod
      - name: Lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6
      - name: Test
        run: go test -race -count=1 ./...
      - name: Build
        run: |
          go install go.k6.io/xk6/cmd/xk6@latest
          xk6 build --with github.com/grafana/xk6-subcommand-docs=.
